################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HtmlParser/v16/Server/sqlite3
/.vs/HtmlParser/DesignTimeBuild
/HTMLParser/obj
/.vs/slnx.sqlite
/HTMLParser/bin